<a href="https://colab.research.google.com/github/JavierEstrada53/EstructuraDeDatos1310/blob/main/ArraysADT_EDD1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Array:
  def __init__(self, tam): #tam-->tamaño
    self.__tamanio = tam
    self.__data = [0 for x in range (self.__tamanio)]

  def to_string(self):
    info=''
    for dato in self.__data:
      info = info + str(dato) + '|'
    return info

  def get_item(self, index):
    return self.__data[index]

  def get_length(self):
    return len(self.__data)

  def set_item(self, dato, index):
    if index>=0 and index < self.get_length():
      self.__data[index]= dato
    else: 
      print('ERROR: Índice fuera de rango')

  def clear(self,dato):
    self.__data = [dato for x in range(self.__tamanio)]


ejemplo = Array(20)
print(ejemplo.to_string())
print(ejemplo.get_item(2))
ejemplo.set_item(45,2)
print(ejemplo.to_string())
print(ejemplo.get_length())

0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
0
0|0|45|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|
20

In [ ]:
lista = [3 * x for x in range (5)]
print(lista)

[0, 3, 6, 9, 12]

In [4]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [15]:
archivo = open('junio.dat','rt', encoding = 'latin-1')
archivo2 = junio.dat
print(archivo.read())
archivo2 = archivo2.split()
print(type(archivo2))

NameError: ignored

In [ ]:
class Trabajador:
  def __init__(self, nt, nom, pat, mat, he, sb, ai):
    self.__numero_trabajador = nt
    #así para todos los atributos

  #aquí van todos los métodos de acceso
  def set__numero_trabajador (self, nt):
    self.__numero_trabajador = nt

  #métodos de uso general --> métodos que hacen calculos de la lógica del negocio

In [ ]:
class Nomina:
  def __init__(self, ruta_archivo):
    #abrir el archivo y determinar el número de empleados --> num_emp
    self.__data = Array( num_emp)

  def calcular_sueldos(self):
    #iterar sobre el array y hacer el cálculo de sueldos

  def buscar_mas_antiguo (self):
    #iterear y buscará en el array el de mayor antigüedad en el puesto

  def buscar_menor_antiguedad (self):
    #iterear y buscará en el array el de menor antigüedad en el puesto

In [14]:
sueldo_base = 100
anio = 2019
anti = 2
prestacion = 100 * (2 * 0.03)
print(sueldo_base + prestacion)

106.0