In [6]:
class Array:
  def __init__( self , tam ):
    self.__tamanio = tam
    self.__data = [ 0 for x in range(self.__tamanio) ]

  def to_string( self ):
    info = ""
    for dato in self.__data:
      info = info + str(dato) + "|"
    return info

  def get_item( self , index ):
    return self.__data[index]

  def get_length( self ):
    return len( self.__data )

  def set_item( self , dato , index):
    if index >= 0 and index < self.get_length():
      self.__data[index] = dato
    else:
      print("Error: Índice fuera de rango")

  def clear( self , dato ):
    self.__data = [ dato for x in range(self.__tamanio) ]

In [4]:
from io import open
archivo = open('junio.dat','rt', encoding = 'latin-1')
lineas_archivo = archivo.read()
print(lineas_archivo)

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [18]:
class Trabajador:
  def __init__(self, nt, nom, pat, mat, he, sb, ai):
    self.__numero_trabajador = nt
    self.__nombre = nom
    self.__paterno = pat
    self.__materno = mat
    self.__horas_extra = he
    self.__sueldo_base = sb 
    self.__anio_ingreso = ai


  #Métodos de acceso
  def set_numero_trabajador ( self , nt ):
    self.__numero_trabajador = nt
  def get_numero_trabajador ( self ):
    return self.__numero_trabajador

  def set_nombre ( self , nom ):
    self.__nombre = nom
  def get_nombre(self):
    return self.__nombre

  def set_paterno ( self , pat ):
    self.__paterno = pat
  def get_paterno( self ):
    return self.__paterno

  def set_materno ( self , mat ):
    self.__materno = mat
  def get_materno ( self ):
    return self.__materno

  def set_horas_extra ( self , he ):
    self.__horas_extra = he
  def get_horas_extra ( self ):
    return self.__horas_extra

  def set_sueldo_base ( self , sb ):
    self.__sueldo_base = sb
  def get_sueldo_base ( self ):
    return self.__sueldo_base

  def set_anio_ingreso ( self , ai ):
    self.__anio_ingreso = ai
  def get_anio_ingreso ( self ):
    return self.__anio_ingreso

  def calcular_sueldo_mensual( self ):
    anios = 2021 - self.get_anio_ingreso()
    sueldo = self.get_sueldo_base()
    #agrega las horas extra
    sueldo += self.get_horas_extra() * 276.5
    #agrega la prestación por antiguedad
    sueldo = sueldo + (sueldo * anios * 0.03)
    return sueldo

  def to_string( self ):
    return '# %s. Nombre: %s %s %s. Sueldo: $%s ' %(self.__numero_trabajador, self.__nombre, self.__paterno, self.__materno, str(self.calcular_sueldo_mensual()))
    
  
  def calcular_antiguedad( self ):
    return 2021 - self.get_anio_ingreso())

In [29]:
class NominaADT:
  def __init__ ( self , ruta_archivo ):
    #abrir el archivo y determinar el número de empleados --> num_emp
    archivo = open( ruta_archivo,'rt', encoding = 'latin-1')
    empleados = archivo.readlines()
    del empleados[0]
    for index in range( len(empleados)):
      empleados[index] = empleados[index].strip().split(',')
    self.__data = Array( len( empleados ))
    cont = 0
    for emp in empleados:
      tmp = Trabajador( int(emp[0]) , emp[1] , emp[2] , emp[3] , int(emp[4]) , int(emp[5]) , int(emp[6]) )
      # tmp --> Trabajador temporal
      self.__data.set_item( tmp, cont)
      cont += 1


  def buscar_mayor_antiguedad (self):
    for index in range(self.__data.get_length()):
      print(str(self.__data.get_item(index).calcular_antiguedad()))
    #iterar y buscará en el array el de mayor antigüedad en el puesto

  def calcular_sueldos( self ):#--> método para calcular sueldos
    for index in range(self.__data.get_length()):
      print(self.__data.get_item(index).to_string())

ejemplo = NominaADT('junio.dat')
ejemplo.calcular_sueldos()
ejemplo.buscar_mayor_antiguedad()

# 2345. Nombre: CARLOS PEREZ CASTILLO. Sueldo: $11032.0
# 5754. Nombre: ANGEL GOMEZ GARRIDO. Sueldo: $10430.295
# 5345. Nombre: JESUS MARTIN SANTOS. Sueldo: $11963.45
# 3267. Nombre: DAVID JIMENEZ LOZANO. Sueldo: $11651.36
# 8765. Nombre: PEDRO RUIZ GUERRERO. Sueldo: $11651.36
# 5454. Nombre: DANIEL HERNANDEZ CANO. Sueldo: $11640.655
# 3456. Nombre: ALEJANDRO DIAZ PRIETO. Sueldo: $11339.27
# 3445. Nombre: MARIA MORENO MENDEZ. Sueldo: $11037.885
# 9088. Nombre: ALBERTO MUOZ CRUZ. Sueldo: $11341.68
# 8877. Nombre: RAFAEL ALVAREZ FLORES. Sueldo: $11651.36
# 6767. Nombre: FERNANDO ROMERO HERRERA. Sueldo: $11613.36
# 5654. Nombre: PABLO ALONSO GALLEGO. Sueldo: $10734.09
# 4323. Nombre: JORGE GUTIERREZ MARQUEZ. Sueldo: $10715.09
# 2232. Nombre: RAMON NAVARRO LEON. Sueldo: $11645.475
La antigüedad del trabajador # 2345 es 4 años
La antigüedad del trabajador # 5754 es 1 años
La antigüedad del trabajador # 5345 es 5 años
La antigüedad del trabajador # 3267 es 4 años
La antigüedad del trabajador # 8765 es 4 años
La antigüedad del trabajador # 5454 es 3 años
La antigüedad del trabajador # 3456 es 3 años
La antigüedad del trabajador # 3445 es 3 años
La antigüedad del trabajador # 9088 es 4 años
La antigüedad del trabajador # 8877 es 4 años
La antigüedad del trabajador # 6767 es 2 años
La antigüedad del trabajador # 5654 es 2 años
La antigüedad del trabajador # 4323 es 1 años
La antigüedad del trabajador # 2232 es 5 años